body {
  background-color: darkslategray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
